@model IEnumerable<BREWCITY.Models.Beer>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BeerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="CreateReview" asp-route-id="@item.BeerId">Add Review</a> |
                <a asp-action="Sales" asp-route-id="@item.BeerId">Sale</a> |
                <a asp-action="AddToCart" asp-route-id="@item.BeerId">Add To Cart</a>
            </td>
        </tr>
}
    </tbody>
</table>
