@model IEnumerable<BREWCITY.Models.Sale>

@{
    ViewData["Title"] = "SeeResults";
}

<h1>SeeResults</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Beer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Beer.BeerName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.BeerId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
