@model BREWCITY.Models.ViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Brewery</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brewery.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brewery.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brewery.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brewery.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brewery.BusinessName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brewery.BusinessName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brewery.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brewery.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brewery.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brewery.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brewery.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brewery.IdentityUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Brewery.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
